<a id="enterEncPart" class="text_good_black" href="<%=encUrl%>">
	<section class="w-100 p-2 text-center rtlDir">
		<div class="p-1">
			<span class="fa fa-<%=encFA%> Font1d5625rem verAlitextBottom" aria-hidden="true"></span>
			<span class="mr-2 Font1d125rem d-inline-block marginTop2px"> ورود به دانشنامه <%=i18n.__(envName)%> </span>
		</div>
	</section>
</a>