<footer class="footer">
	<div class="container-fluid">
		<nav class="pull-left">
			<ul>
				<li>
					<a href="https://www.healight.com">
						هیلایت
					</a>
				</li>
				<li>
					<a href="https://www.healight.com/aboutus">
						درباره ما
					</a>
				</li>
				<li>
					<a href="https://blog.healight.com/">
						بلاگ
					</a>
				</li>
				<li>
					<a href="https://healight.com/license">
						قوانین و شرایط
					</a>
				</li>
			</ul>
		</nav>
		<div class="copyright pull-right">
			&copy; 2018, made by love by
			<a href="https://www.healight.com">healight</a> for a better world.
		</div>
</footer>